.cc-photo-upload {
  text-align: center;
  color: #524eb7;
  overflow: hidden;
  width: 100%;
  height: 134px;
  background: rgba(82, 78, 183, 0.04);
  border: 1px dashed #524eb7;
  font-size: 34px;
  cursor: pointer;
  display: block;
  position: relative;
}

.cc-photo-upload label {
	margin-top: 13%;
	cursor: pointer;
}

.cc-photo-upload svg {
  cursor: pointer;
}

.cc-photo-upload input {
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

img.car-rent-thumb {
  position: relative;
  top: -45px;
  width: 100%;
  height: 134px;
  overflow: hidden;
  display: block;
  padding: 10px;
}

.file-up-txt {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #524eb7;
  cursor: pointer;
}


/* for smaller laptop desktop screens */
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .cc-photo-upload {
    width: 85%;
  }

  .cc-photo-upload label {
    margin-top: 25%;
  }
}

/* for larger laptop desktop screens */
@media screen and (min-width: 1400px) {
  .cc-photo-upload {
    width: 85%;
  }

  .cc-photo-upload label {
    margin-top: 25%;
  }
}