textarea.textarea-input-field {
    width: 100%;
    height: 120px;
    border: 1px solid var(--inputFieldBorderColor);
    padding: 0px 10px 0px 10px;
}


textarea.textarea-input-field::placeholder{
    position: relative;
    top: 5xp;
}

textarea.textarea-input-field:focus-visible{
    outline: 0;
}